.dashboard {
    display: flex;
    gap: 50px;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    border: 1px solid blue
}

.container {
    background-color: #333;
    border: 1px solid blue;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: .5rem;
    width: 100px;
}

.draggable {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin: .5rem;
    background-color: white;
    cursor: move;
}

.draggable.dragging {
    opacity: .5;
}
